@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills h2 {
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    color: #fff;
    font-size: 16px;
}

.progress-bar {
    background: #959595;
    width: 600px;
    height: 10px;
    border-radius: 5px;
}

.progress-bar div {
    height: 10px;
    border-radius: 5px;
    width: 0%;
}

.progress-bar div span {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #222;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.html {
    background: blue;
    animation: html 1s linear forwards;
}

.css {
    background: yellow;
    animation: css 1s linear forwards;
}

.js {
    background: blue;
    animation: js 1s linear forwards;
}

.py {
    background: yellow;
    animation: py 1s linear forwards;
}

.react {
    background: blue;
    animation: react 1s linear forwards;
}

.django {
    background: yellow;
    animation: django 1s linear forwards;
}

.html span {
    border: 1px solid blue;
}

.css span {
    border: 1px solid yellow;
}

.js span {
    border: 1px solid blue;
}

.py span {
    border: 1px solid yellow;
}

.react span {
    border: 1px solid blue;
}

.django span {
    border: 1px solid yellow;
}


@keyframes html {
    100% {
        width: 90%
    }
}

@keyframes css {
    100% {
        width: 85%
    }
}

@keyframes js {
    100% {
        width: 60%
    }
}

@keyframes py {
    100% {
        width: 20%
    }
}

@keyframes react {
    100% {
        width: 10%;
    }
}

@keyframes django {
    100% {
        width: 15%
    }
}